<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="/static/css/codiqa.ext.min.css" rel="stylesheet">
    <link href="/static/css/jqm-neue.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="/static/js/codiqa.ext.min.js"></script>
    <script src="/static/js/shout.js"></script>
</head>
<body>

</body>
</html>