<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Black Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
<div data-role="page" data-control-title="Login" id="login-page">
    <div data-theme="a" data-role="header">
        <h3>
            Login
        </h3>
    </div>
    <div data-role="content">
        <div data-controltype="htmlblock">
            <span class="message">
                {{ message2 }}
            </span>
        </div>
        <form action="/login" method="POST" data-ajax="false">
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="usr">
                    User Name
                </label>
                <input name="username" id="usr" placeholder="" value="" type="text">
            </div>
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="pwd">
                    Password
                </label>
                <input name="password" id="pwd" placeholder="" value="" type="password">
            </div>
            <div data-role="fieldcontain" data-controltype="toggleswitch">
                <label for="login-show-btn">
                    Show password
                </label>
                <select name="toggleswitch1" id="login-show-btn" data-theme="a" data-role="slider"
                        data-mini="true">
                    <option value="off">
                        Off
                    </option>
                    <option value="on">
                        On
                    </option>
                </select>
            </div>
            <input type="submit" data-theme="a" value="Submit">
        </form>
        <div data-controltype="htmlblock">
            <span class="message">
                {{ message }}
            </span>
        </div>
        <a id="forgot-btn" data-role="button" href="#forgot-pwd" data-icon="info"
           data-iconpos="left">
            Forgot Password
        </a>

        <div data-controltype="textblock">
            <p style="text-align: center;">
                <b>
                    Or
                </b>
            </p>
        </div>
        <a data-role="button" data-theme="a" href="#/register">
            Register Free Account
        </a>

        <div>
            <a href="www.bbc.co.uk" data-transition="fade">
                Click to find out more
            </a>
        </div>
    </div>
</div>
<div data-role="page" data-control-title="Forgot" id="forgot-pwd">
    <div data-theme="a" data-role="header">
        <a data-role="button" data-rel="back" href="#forgot-pwd" data-icon="arrow-l"
           data-iconpos="left" class="ui-btn-left">
            Back
        </a>

        <h3>
            Password
        </h3>
    </div>
    <div data-role="content">
        <h3>
            To reset you password enter your logon name / email below
        </h3>

        <form action="/forgot" method="POST" data-ajax="false">
            <div data-role="fieldcontain" data-controltype="textinput">
                <label for="textinput11">
                    Logon
                </label>
                <input name="username" id="textinput11" placeholder="" value="" type="text">
            </div>
            <input type="submit" data-theme="a" value="Go">
        </form>
    </div>
    <div data-role="tabbar" data-iconpos="top" data-theme="a">
        <ul>
            <li>
                <a href="#list-page" data-transition="fade" data-theme="" data-icon="home">
                    List
                </a>
            </li>
            <li>
                <a href="#map-page" data-transition="fade" data-theme="" data-icon="star">
                    Map
                </a>
            </li>
            <li>
                <a href="#new-place" data-transition="fade" data-theme="" data-icon="check">
                    New
                </a>
            </li>
            <li>
                <a href="#settings-page" data-transition="fade" data-theme="" data-icon="gear">
                    Settings
                </a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>