{% extends "bootstrap.html" %}
{% block maincontent %}
<h1>Password Reset</h1>
  <form id="reset-form" action="/password" method="POST">
        <div data-controltype="htmlblock">
        <span style="color:red">
            {{ message }}
        </span>
        </div>
        <div class="form-group">
            <label for="textinput13">
                New Password
            </label>
            <input name="password" id="textinput13" placeholder="" value="" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="textinput14">
                Retype New Password
            </label>
            <input name="confirm_password" id="textinput14" placeholder="" value=""
            class="form-control" type="text">
        </div>
        <div class="form-group">
            <input id="reset-submit" type="submit" class="btn btn-primary" value="Submit">
        </div>
        <input type="hidden" name="t" value="">
    </form>
{% endblock maincontent %}