{% extends "bootstrap.html" %}



{% block maincontent %}

    <h1>Sign Up</h1>
    <p class="lead">You have been invited to register as a Taste 5 user<br>
        Please provide these basic details:</p>

    <form action="/signup" method="POST">
          <div data-controltype="htmlblock">
            <span style="color:red">
                {{ message }}
            </span>
            </div>
            <div class="form-group">
                <label for="textinput4">
                    First Name
                </label>
                <input name="name" id="textinput4" placeholder="" value="" type="text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="textinput5">
                    Last Name
                </label>
                <input name="lastname" id="textinput5" placeholder="" value="" type="text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="textinput6">
                    Email Address
                </label>
                <input name="email" id="textinput6" placeholder="" value="" type="text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="textinput10">
                    Enter a password
                </label>
                <input name="password" id="textinput10" placeholder="" value="" type="text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="textinput8">
                    Re-type the password
                </label>
                <input name="password" id="textinput8" placeholder="" value="" type="text"
                       class="form-control">
            </div>
            <input type="hidden" name="invite_token" value="{{ invite_token }}">
            <input type="submit" class="btn btn-primary" value="Submit">
    </form>

{% endblock %}